In [3]:
!pip install ipython-sql prettytable
!pip install pandas 
import prettytable

prettytable.DEFAULT = 'DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (9.0.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Vineet Gupta\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\vineet gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Vineet Gupta\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import csv, sqlite3
import pandas as pd
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

In [5]:
%load_ext sql

In [6]:
print(pd.__version__)

2.2.3

In [7]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')

In [8]:
df.shape

(10051, 11)

In [9]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [10]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [12]:
df.duplicated().sum()

np.int64(51)

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
# to verify
df.duplicated().sum()

np.int64(0)

In [15]:
df.shape

(10000, 11)

In [16]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [17]:
#droppping all rows with missing records
df.dropna(inplace=True)

In [18]:
# to verify
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [19]:
df.shape

(9969, 11)

In [20]:
# checking datatyes of all columns
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [21]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [22]:
df['unit_price']

0       74.69
1       15.28
2       46.33
3       58.22
4       86.31
        ...
9995    37.00
9996    58.00
9997    52.00
9998    79.00
9999    62.00
Name: unit_price, Length: 9969, dtype: float64

In [23]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [24]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [25]:
df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [26]:
df.columns.to_list()

['invoice_id',
 'branch',
 'city',
 'category',
 'unit_price',
 'quantity',
 'date',
 'time',
 'payment_method',
 'rating',
 'profit_margin']

In [27]:
df.to_csv('walmart_cleaned_data.csv', index=False)

In [28]:
df.to_sql('Walmart', con, if_exists='replace', index=False)
# df.to_sql(name='Walmart', con=con, if_exists='replace', index=False)

9969

In [29]:
# Establish a connection between SQL magic module and the database `FinalDB.db`
%sql sqlite:///FinalDB.db

In [30]:
%sql select name from sqlite_master WHERE type = "table"

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) near "table": syntax error
[SQL: select name from sqlite_master WHERE type = table]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
%sql SELECT \
    COUNT(*)\
FROM\
    walmart;

 * sqlite:///FinalDB.db
Done.

[(9969,)]

In [32]:
# Count payment methods and number of transactions by payment method
%sql SELECT \
    payment_method, COUNT(*) AS no_of_payments\
FROM\
    walmart\
GROUP BY payment_method;

 * sqlite:///FinalDB.db
Done.

[('Cash', 1832), ('Credit card', 4256), ('Ewallet', 3881)]

In [33]:
# Count distinct branches
%sql SELECT \
    COUNT(DISTINCT branch)\
FROM\
    walmart;

 * sqlite:///FinalDB.db
Done.

[(100,)]

In [34]:
# Find the minimum quantity sold
%sql SELECT \
    MIN(quantity)\
FROM\
    walmart;

 * sqlite:///FinalDB.db
Done.

[(1.0,)]

Q1: Find different payment methods, number of transactions, and quantity sold by payment method

In [35]:
%sql SELECT \
    payment_method,\
    COUNT(*) AS no_of_payments,\
    SUM(quantity) AS no_qty_sold\
FROM\
    walmart\
GROUP BY payment_method;

 * sqlite:///FinalDB.db
Done.

[('Cash', 1832, 4984.0),
 ('Credit card', 4256, 9567.0),
 ('Ewallet', 3881, 8932.0)]

Q2: Calculate the total quantity of items sold per payment method

In [36]:
%sql SELECT \
    payment_method, SUM(quantity) AS no_qty_sold\
FROM\
    walmart\
GROUP BY payment_method;

 * sqlite:///FinalDB.db
Done.

[('Cash', 4984.0), ('Credit card', 9567.0), ('Ewallet', 8932.0)]

Q3: Determine the average, minimum, and maximum rating of categories for each city

In [37]:
%sql SELECT city, category, MIN(rating) AS min_rating, \
MAX(rating) AS max_rating, \
ROUND(AVG(rating), 2) AS avg_rating\
FROM\
    walmart\
GROUP BY city , category\
LIMIT 10;

 * sqlite:///FinalDB.db
Done.

[('Abilene', 'Electronic accessories', 7.1, 8.8, 7.97),
 ('Abilene', 'Fashion accessories', 4.0, 9.0, 6.24),
 ('Abilene', 'Food and beverages', 6.0, 8.9, 6.95),
 ('Abilene', 'Health and beauty', 9.7, 9.7, 9.7),
 ('Abilene', 'Home and lifestyle', 4.0, 9.0, 6.1),
 ('Alamo', 'Fashion accessories', 3.0, 9.0, 6.87),
 ('Alamo', 'Food and beverages', 5.2, 5.2, 5.2),
 ('Alamo', 'Health and beauty', 7.7, 8.2, 7.95),
 ('Alamo', 'Home and lifestyle', 3.0, 9.0, 6.3),
 ('Alamo', 'Sports and travel', 5.0, 10.0, 7.3)]

Q4: Calculate the total profit for each category

In [38]:
%sql SELECT category,\
    ROUND(SUM(unit_price * quantity * profit_margin),\
            2) AS total_profit\
FROM\
    walmart\
GROUP BY category\
ORDER BY total_profit DESC;

 * sqlite:///FinalDB.db
Done.

[('Fashion accessories', 192314.89),
 ('Home and lifestyle', 192213.64),
 ('Electronic accessories', 30772.49),
 ('Food and beverages', 21552.86),
 ('Sports and travel', 20613.81),
 ('Health and beauty', 18671.73)]

Q5: Determine the most common payment method for each branch

In [39]:
%sql WITH cte AS (\
    SELECT \
        branch,\
        payment_method,\
        COUNT(*) AS total_trans,\
        RANK() OVER(PARTITION BY branch ORDER BY COUNT(*) DESC) AS rankK\
    FROM walmart\
    GROUP BY branch, payment_method\
)\
SELECT branch, payment_method AS preferred_payment_method\
FROM cte\
WHERE rankK = 1\
LIMIT 10;

 * sqlite:///FinalDB.db
Done.

[('WALM001', 'Ewallet'),
 ('WALM002', 'Ewallet'),
 ('WALM003', 'Credit card'),
 ('WALM004', 'Ewallet'),
 ('WALM005', 'Ewallet'),
 ('WALM006', 'Ewallet'),
 ('WALM007', 'Ewallet'),
 ('WALM008', 'Ewallet'),
 ('WALM009', 'Credit card'),
 ('WALM010', 'Ewallet')]